@using autochat_blazorapp.Data
@using Microsoft.EntityFrameworkCore;

@inject AccountContext Context

<h4>UserList</h4>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var user in accounts)
            {
                <tr>
                    <td>
                        @user.Id (@user.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Models.Account> accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await Context.Account.ToListAsync();
    }
}
