@using autochat_blazorapp.Data
@using Microsoft.EntityFrameworkCore;

@inject AccountContext Context

<h4>UserList</h4>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>
                        @user
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    String[] users;

    protected override async Task OnInitializedAsync()
    {
        var accounts = await Context.Account.ToListAsync();
        this.users = accounts.Select(x => x.UserName).ToArray();
        //.Select(x => x.UserName).ToArray();

        Console.WriteLine("------------ ON Init");
    }
}
